# MongoDB
MONGO_CONNECTION_STRING=mongodb://mongo:27017
MONGO_DATABASE_NAME=MiniFormDb

# Backend
BACKEND_PORT=5000
ALLOWED_ORIGINS=http://localhost:5173

# Frontend
API_BASE_URL=http://localhost:5000
FRONTEND_PORT=5173
